doctype html
html(lang='es')
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/moment.min.js')
    script(src='/js/Chart.min.js')
    script(src='/js/jquery-3.3.1.js')
    script(src='/js/bootstrap.min.js')
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js")
  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      img(src='/img/merva-logo-nuevo.png' class='img-fluid' width='300')
    div(class='container-fluid')
      div(class='row')
        div(class='col-4')
          h1 Registros
          table(class='table table-striped')
            thead(class='thead-dark')
              tr
                th Fecha y hora
                th Temperatura
                th Ubicacion
            tbody
              each log in logs
                tr
                  td= log.creado
                  td {#log.temp} ºC
                  td= log.ubicacion

          //  form(method='POST', action='')
          //    div(class='form-group')
          //      label(for='inputTemp') Temperatura:
          //      input(type='text', id='inputTemp', class='form-control', name='temp')
          //      label(for='inputTermografo') ID Termografo:
          //      input(type='text', id='inputTermografo', class='form-control', name='termografo_id')
          //      button(type='submit', class='btn btn-primary') Enviar
        div(class='col-8')
          canvas(id='chart')
          script
            include chart.js
      div(class='row')
    footer(class='page-footer font-small blue')
      div(class='container-fluid text-center')
        p ET N° 37 "Hogar Naval Stella Maris"
